.footer-copy
  position: relative
  min-height: 230px
  background: #f4f4f4


.section-track
  height: 110px
  background: url("../../images/line-footer.png") no-repeat
  margin-top: 0px
  position: absolute
  width: 100%
  top: -45px

.contact-info
  position: relative
  display: flex
  justify-content: center

  
  &__item
    margin-left: 20px
    margin-right: 20px

    font-size: 14px
    
    &_success
      font-family: gothamPBo
      color: #a3cd3c
      
      &:hover
        color: #a3cd3c
      
    &_hover_disable
      font-family: gothamPR
      color: #919191

      &:hover
        color: #919191
      


  