.block-pagin
  display: flex
  flex-direction: column
  padding-left: 0
  padding-right: 0
  border-bottom: 3px solid rgba(255,255,255,0.2)

  &:before
    +media-768
      content: ''
      display: block
      background: #fff
      height: 3px
      width: 99%
      margin-top: 15px
      margin-left: 0
      opacity: .25

.nav-pagin
  list-style-type: none
  display: flex
  flex-direction: row
  justify-content: left
  padding-top: 70px
  padding-left: 0px

  &-scroll
    justify-content: center
    padding-top: 15px

  +media-1200
    padding-left: 0

  +media-768
    flex-direction: column
    padding-top: 25px


.nav__pagin
  margin-right: 5px
  //padding: 10px 15px
  display: flex

  &:last-child
    //display: none

  +media-768
    transition: .3s
    &:hover
      text-decoration: none
      background: #101033
      color: #fff
      //padding: 10px 15px
      border-radius: 0px 10px 0px 10px
      transition: .3s


  &__vline
    &:after
      content: ''
      display: inline-block
      width: 3px
      height: 36px
      margin-left: 15px
      background: url("../../images/vertical-line.png")

      +media-955
        height: 46px
        margin-left: 5px

      +media-768
        display: none

.nav__demo
  margin-right: 75px

  +media-1200
    margin-right: 35px

  +media-915
    margin-right: 15px

  +media-768
    background: none

.nav__demor-clf
  margin-right: 0
  margin-top: 15px

.pagin__link
  color: #fff
  padding: 10px 10px

  &_sm
    font-size: 18px
    text-transform: uppercase

    &-scroll
      color: #fff

      +media-890
        padding-top: 15px

    +media-1070
      font-size: 17px
    +media-1024
      font-size: 16px

    +media-915
      font-size: 1.5vw

    +media-860
      font-size: 1.3vw

    +media-560
      font-size: 18px

  &_md
    font-size: 20px

    &-scroll
      color: #101033

    +media-1070
      font-size: 17px

    +media-1024
      font-size: 15px

    +media-915
      font-size: 1.9vw

    +media-860
      font-size: 1.5vw

    +media-560
      font-size: 18px

  &__active
    background: #101033
    border-radius: 0px 10px 0px 10px


  &:hover
    text-decoration: none
    background: #101033
    color: #fff
    //padding: 10px 15px
    border-radius: 0px 10px 0px 10px
    transition: .3s

    +media-768
      background: none
      border-radius: 0px