a
  color: inherit

.menu
  +media-640
    display: none

.menu-content
  display: flex
  justify-content: space-around
  min-height: 150px
  line-height: 150px

  &__item
    position: relative
    font-family: gothamPB
    font-size: 18px
    color: #444

    +media-768
      font-size: 14px

  &__link:active
    &::after
      position: absolute
      content: ''
      display: block
      text-align: center
      width: 10px
      height: 10px
      top: 65%
      left: 40%

      background: #9ecb32
      border-radius: 50px

  &__link
    &:hover
      color: #9ecb32


.logo
  padding-top: 10px
  width: 120px
  height: 125px

  +media-768
    width: 100px
    height: 110px

