.js-history-last
  &_active
    +media-1070
      width: 650px

    +media-992
      width: 100%
      padding-left: 50px
      padding-right: 50px


.full-history
  display: none
  width: 700px
  height: 500px
  padding-top: 45px
  //overflow-y: scroll

  +media-992
    width: 100%

  +clearfix

  &_active
    display: block

  &_disable
    display: none

  &-content
    padding-right: 60px

    +media-685
      text-align: center
      padding-right: 0




.arrow__back
  padding-right: 15px
  
.full__history__logo
  +media-685
    float: none
  
.full__title
  float: left
  margin-top: 20px
  padding-left: 10px

  +media-685
    float: none
  
.full-feed
  clear: both
  float: none
  padding-top: 15px
  padding-left: 0px

  +media-685
    text-align: center
    padding-left: 25px

  +media-380
    padding-left: 0


.js-history-back
  float: right
  margin-top: 15px

  +media-685
    float: none

  +media-420
    font-size: 3.5vw

.full-history .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
  background-color: #9ecb32

.full-history .mCS-dark.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar
  background-color: #9ecb32

.full-history .mCS-dark.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar
  background-color: #9ecb32

