<footer data-aos="fade-up" data-aos-delay="120" data-aos-duration="1000">
    <div class="container">
        <div id="emotions" class="emotions">
	        <div class="basil basil-first js-rellax-obj" data-rellax-speed="1"></div>
	        {#src="/assets/images/basil-footer_second.png"#}
	        <div class="basil basil-second js-rellax-obj" data-rellax-speed="1"></div>
	        {#src="/assets/images/basil-footer_first.png"#}
            <h1 class="emotions__title">Какие эмоции мы хотим вызвать у наших гостей?</h1>
            <div class="emotions-slider">
                <div class="footer-slider slider single-item one-time">
		          {#<button type="button" class="slick-prev"></button>#}
                    <div class="slick-slide">
                        <div class="logo-slid"><img class="logo-slid__item" src="/assets/images/slide-img.png" alt=""></div>
                        <div class="sub-title">
                            <span class="sub-title__text">Том ям с морепродуктами</span>
	                        <ul class="sub-title-list">
		                        <li class="sub-title-list__item">Экзотичность</li>
		                        <li class="sub-title-list__item">Острота</li>
		                        <li class="sub-title-list__item">Экзотичность</li>
		                        <li class="sub-title-list__item">Острота</li>
	                        </ul>
	                        <a class="sub-title__btn simple__btn simple__btn_success" href="#">Заказать блюдо</a>
                        </div>
                    </div>
                    <div class="slick-slide">
	                    <div class="logo-slid"><img class="logo-slid__item" src="/assets/images/slide-img.png" alt=""></div>
	                    <div class="sub-title">
		                    <span class="sub-title__text">Том ям с морепродуктами</span>
		                    <ul class="sub-title-list">
			                    <li class="sub-title-list__item">Экзотичность</li>
			                    <li class="sub-title-list__item">Острота</li>
			                    <li class="sub-title-list__item">Экзотичность</li>
			                    <li class="sub-title-list__item">Острота</li>
		                    </ul>
		                    <a class="sub-title__btn simple__btn simple__btn_success" href="#">Заказать блюдо</a>
	                    </div>
                    </div>
	                <div class="slick-slide">
	                    <div class="logo-slid"><img class="logo-slid__item" src="/assets/images/slide-img.png" alt=""></div>
	                    <div class="sub-title">
		                    <span class="sub-title__text">Том ям с морепродуктами</span>
		                    <ul class="sub-title-list">
			                    <li class="sub-title-list__item">Экзотичность</li>
			                    <li class="sub-title-list__item">Острота</li>
			                    <li class="sub-title-list__item">Экзотичность</li>
			                    <li class="sub-title-list__item">Острота</li>
		                    </ul>
		                    <a class="sub-title__btn simple__btn simple__btn_success" href="#">Заказать блюдо</a>
	                    </div>
                    </div>
                </div>
                {#<button type="button" class="slick-next"></button>#}
            </div>
        </div>
    </div>
	<section class="footer-copy">
		<div class="section-track"></div>
		<div class="container-fluid footer-copy-lg">
			<div class="container">
				<div class="contact-info">
					<a class="contact-info__item contact-info__item_success" href="#">Piudelcibo.ru</a>
					<a class="contact-info__item contact-info__item_hover_disable" href="#">Адреса и контакты заведений</a>
					<a class="contact-info__item contact-info__item_hover_disable" href="#">Обработка персональных данных</a>
					<a class="contact-info__item contact-info__item_hover_disable" href="#">Разработка сайта: <span class="contact-info__item_success"> Rocket Science</span></a>
				</div>
				<div class="footer-social">
					<a class="footer-social__item" href=""><img class="footer-social__picture social__img_vk" src="/assets/images/vk-sm.png" alt="vkontakte"></a>
					<a class="footer-social__item" href=""><img class="footer-social__picture social__img_fb" src="/assets/images/facebook-sm.png" alt="facebook"></a>
					<a class="footer-social__item" href=""><img class="footer-social__picture social__img_inst" src="/assets/images/instagram-sm.png" alt="instagram"></a>
				</div>
				<div class="copyright">
					<span class="contact-info__item_hover_disable">&copy; 2018 Кафе &laquo; Piu Del Cibo &raquo;</span>
				</div>
			</div>
		</div>
	</section>
</footer>