<footer>
	<div class="container-fluid footer">
		<div class="footer-content">
			<img class="testpng" src="/assets/images/footer-logo.png" alt="">
			{#<div class="footer-content-left"></div>#}
			<div class="footer-content-right">
				<ul class="list list-solutions">
					<li class="solutions__item"><a href="#" class="active__item__link">solutions</a></li>
					<li class="solutions__item"><a href="#" class="item__link">Toolbar</a></li>
					<li class="solutions__item"><a href="#" class="item__link">Simple stream</a></li>
					<li class="solutions__item"><a href="#" class="item__link">Accessible Job Board</a></li>
					<li class="solutions__item"><a href="#" class="item__link">Accessible HRIS</a></li>
					<li class="solutions__item"><a href="#" class="item__link">Site Audit</a></li>
					<li class="solutions__item"><a href="#" class="item__link">Remediation</a></li>
					<li class="solutions__item"><a href="#" class="item__link">Pricing</a></li>
				</ul>
				<ul class="list help-footer">
					<li class="help-footer__item"><a href="#" class="active__item__link">help</a></li>
					<li class="help-footer__item"><a href="#" class="item__link">Docs</a></li>
					<li class="help-footer__item"><a href="#" class="item__link">Demos</a></li>
					<li class="help-footer__item"><a href="#" class="item__link">Forum</a></li>
					<li class="help-footer__item"><a href="#" class="item__link">Download</a></li>
					<li class="help-footer__item"><a href="#" class="item__link">Site map</a></li>
					<li class="help-footer__item"><a href="#" class="item__link">Login</a></li>
				</ul>
				<ul class="list company">
					<li class="company__item"><a href="#" class="active__item__link">company</a></li>
					<li class="company__item"><a href="#" class="item__link">About Us</a></li>
					<li class="company__item"><a href="#" class="item__link">Contact Us</a></li>
					<li class="company__item"><a href="#" class="item__link">Support</a></li>
					<li class="company__item"><a href="#" class="item__link">News</a></li>
					<li class="company__item"><a href="#" class="item__link">Accessibility Statement</a></li>
					<li class="company__item"><a href="#" class="item__link">Privacy Policy</a></li>
				</ul>
			</div>
		</div>
		<span class="copyright">Copyright © 2018 Accessibility Assistant. All Rights Reserved.</span>
	</div>
</footer>