<header class="header-block">
	{% include "shared/_nav-bar.njk" %}

	<div class="container header-content">
		<div class="left-content">
			<h1 class="left-content__title">Solve Accessibilyty Issues.</h1>
			<h1 class="left-content__title__second">Enhance User Experience.</h1>

			<p class="left-content__title__third">
				<span class="text__indigo">Accesibilyty Assistant</span>
				approach to accessibility<br>
				leverages technology for an innovative solution.
			</p>
			<p class="left-content__text">
				Historically, achieving compliance has been a laborious process reliant on consulting,<br>
				which can be costly, time-consuming and with minimal business benefit - only<br>
				focusing on a limited number of disability use cases. Taking a new approach,<br> Accessibility Assistant leads with technology, which was developed to assist<br>
				organizations in making web content, both, accessible and compliant, in the most<br>
				effective, expedient, and economical manner.
			</p>
		</div>
		<div class="right-content">
			<div class="sircle-block">
				<div class="sircle sircle-first"><span class="sircle__item">product<br> image</span></div>
				<div class="sircle sircle-second"><span class="sircle__item">product<br> image</span></div>
				<div class="sircle sircle-third"><span class="sircle__item">product<br> image</span></div>

			</div>
		</div>
	</div>
</header>