<div class="menu">
	<ul class="menu-content">
		<li class="menu-content__item"><a class="menu-content__link" href="#">Главная</a></li>
		<li class="menu-content__item"><a class="menu-content__link" href="#">Ваша история</a></li>
		<li class="menu-content__item menu-content__logo"><a href="#"><img class="logo" src="/assets/images/nav-header.png" alt="logo"></a></li>
		<li class="menu-content__item"><a class="menu-content__link" href="#">Результаты</a></li>
		<li class="menu-content__item"><a class="menu-content__link" href="#">Готовим с эмоцией</a></li>
	</ul>
</div>