<a href="#" class="btn-gamb">
	<svg class="gamb" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" >
		<path d="M0 7.5v5h50v-5zm0 15v5h50v-5zm0 15v5h50v-5z"/>
	</svg>
</a>

<a href="#" class="mobile-logo-prevu">
	<img class="mobile-logo-prevu" src="/assets/images/nav-header.png" alt="logo">
</a>

<div class="mobile-menu mobile-menu-disable">
	<a href="#" class="mobile-menu__logo">
		<img class="mobile-logo" src="/assets/images/nav-header.png" alt="logo">
	</a>

	<a href="#" class="btn-cencel">
		<img class="picture__cancel" src="/assets/images/cancel.png" alt="выход">
	</a>

	<ul class="mobile-menu-content">
		<li class="mobile-menu__item"><a class="mobile-menu__item__link" href="#">Главная</a></li>
		<li class="mobile-menu__item"><a class="mobile-menu__item__link" href="#">Ваши истории</a></li>
		<li class="mobile-menu__item"><a class="mobile-menu__item__link" href="#">Результаты</a></li>
		<li class="mobile-menu__item"><a class="mobile-menu__item__link" href="#">Готовим с эмоцией</a></li>
	</ul>
</div>