<div class="container">
	<ul class="nav-pagin">
		<li class="nav__pagin nav__demo"><a href="#">Request a demo</a></li>
		<li class="nav__pagin"><a href="#" class="pagin__link">Technology</a></li>
		<li class="nav__pagin"><a href="#" class="pagin__link">Products</a></li>
		<li class="nav__pagin"><a href="#" class="pagin__link">Accessability</a></li>
		<li class="nav__pagin"><a href="#" class="pagin__link">About us</a></li>
		<li class="nav__pagin"><a href="#" class="pagin__link">Login</a></li>
	</ul>
</div>