<div class="victory-chois">
	<span class="victory__title victory__title_left">Победитель конкурса</span>

	<div class="victory-chois__picture">
		<div class="victory-chois__dotted victory-chois__dotted_left"></div>
		<div class="victory-chois-logo">
			<div class="victory-chois-logo__pepper victory-chois-logo__pepper_left"></div>
			<img class="victory-chois-logo__item" src="/assets/images/victory-chois.png" alt="">
			<div class="victory-chois-logo__pepper victory-chois-logo__pepper_right"></div>
		</div>
		<div class="victory-chois__dotted victory-chois__dotted_right"></div>
	</div>
	<div class="chois-title">
		<span class="chois-title__text">Ева Кристалицкая</span>
		<a href="#" class="simple__btn simple__btn_success">Протокол выбора</a>
	</div>

</div>