.add-history
  float: right
  position: relative


  &_disable
    display: none

  &_active
    display: block

  +media-1280
    width: 790px

  +media-1152
    width: 735px

  +media-1050
    width: 700px
    padding-bottom: 50px

.history__title__add
  text-align: center

.history__text__add
  color: #a0cc36
  font-family: gothamPB
  font-size: 16px
  text-align: center

.history__add__text
  width: 720px
  height: 400px
  resize: none
  outline: none
  border: 2px solid #d0d0d0
  border-radius: 5px
  font-family: gothamPL
  font-size: 15px
  color: #919191
  padding-left: 20px
  padding-top: 15px

  +media-1280
    width: 700px

  +media-1152
    width: 680px

//&:focus
  //border-color: #ccc
  //opacity: 0.3

.text-count
  position: absolute
  right: 5%
  bottom: 17%
  color: #a0cc36
  font-family: gothamPM
  font-size: 16px
