@font-face
  font-family: NexaB
  src: url("../../fonts/Nexa-Bold.otf")
  font-weight: normal
  font-style: normal

@font-face
  font-family: NexaL
  src: url("../../fonts/Nexa-Light.otf")
  font-weight: normal
  font-style: normal

@font-face
  font-family: PTS-r
  src: url("../../fonts/PTSans-Regular.ttf")
  font-weight: normal
  font-style: normal


