@font-face
  font-family: gothamPB
  src: url("../../fonts/gothamPro-Black.otf")
  font-weight: normal
  font-style: normal

@font-face
  font-family: drina
  src: url("../../fonts/drina.otf")
  font-weight: normal
  font-style: normal

@font-face
  font-family: gothamPM
  src: url("../../fonts/GothamProMedium.ttf")
  font-weight: normal
  font-style: normal

@font-face
  font-family: gothamPBo
  src: url("../../fonts/GothaProBol.otf")
  font-weight: normal
  font-style: normal

@font-face
  font-family: gothamPL
  src: url("../../fonts/GothamProLight.ttf")
  font-weight: normal
  font-style: normal

@font-face
  font-family: gothamPR
  src: url("../../fonts/GothamProRegular.ttf")
  font-weight: normal
  font-style: normal
