footer
  //padding-bottom: 35px
  //min-height: 500px

.emotions
  position: relative
  text-align: center
  padding-top: 50px
  padding-bottom: 50px

  +media-768
    padding-left: 25px
    padding-right: 25px

.basil
  +media-576
    width: 65px

  +media-356
    width: 50px

.basil-first
  top: 28%
  right: 10%

  +media-1024
    right: 5%

  +media-768
    top: 30%
    width: 60px

.basil-second
  top: 55%
  left: 12%

  +media-860
    left: 10%

  +media-768
    left: 7%
    top: 60%
    width: 69px

  +media-500
    top: 60%

  +media-356
    left: 3%

.emotions__title
  font-family: drina
  font-size: 55px

  +media-768
    font-size: 7vw

  +media-380
    font-size: 11vw

.slider > .slick-prev, .slider > .slick-next
  background: url("../../images/slide-arrow-left.png") no-repeat
  height: 65px
  width: 65px
  z-index: 9999
  top: 33%

  &:hover
    background: url("../../images/slide-arrow-left.png") no-repeat
  &:focus
    background: url("../../images/slide-arrow-left.png") no-repeat

  +media-640
    top: 33%

.slider .slick-prev::before
  display: none


.emotions-slider > .slick-next
  display: none

.slider .slick-next::before
  display: none

.slider .slick-cloned
  display: none

.slider .slick-prev
  left: 30%

  +media-860
    left: 25%

  +media-768
    left: 15%

  +media-576
    left: 10%

  +media-500
    display: none

.slider .slick-next
  right: 30%
  transform: rotate(180deg)
  transform-origin: 50% 21%

  +media-860
    right: 25%

  +media-768
    right: 15%

  +media-576
    right: 10%

  +media-500
    display: none

.logo-slid
  display: flex
  justify-content: center
  margin-top: 20px
  margin-bottom: 20px

  &__item
    +media-640
      width: 200px
      height: 200px

.sub-title
  //padding-top: 15px

  &__text
    display: block
    font-family: gothamPB
    font-size: 25px
    color: #444444

    +media-380
      font-size: 5vw

  &-list
    display: flex
    justify-content: center
    padding-top: 15px
    margin-bottom: 20px

    &__item
      float: left
      margin-right: 15px
      font-family: gothamPBo
      font-size: 16px
      color: #919191

      &:nth-child(1)
        left: 20%

        +media-500
          left: 10%

        +media-380
          left: 6%

      &:nth-child(2)
        right: 25%

        +media-500
          right: 15%

        +media-380
          right: 10%

      &:nth-child(3)
        top: 55%
        left: 20%

        +media-500
          left: 10%

        +media-380
          left: 6%

      &:nth-child(4)
        top: 55%
        right: 25%

        +media-500
          right: 15%

        +media-380
          right: 10%

      +media-576
        margin-right: 0
        float: none
        position: absolute

      +media-356
        font-size: 13px

    &__item::before
      content: ''
      display: inline-block
      width: 10px
      height: 10px
      margin-left: 10px
      margin-right: 10px
      border-radius: 50px
      background: #9ecb32

    +media-576
      display: block
      position: relative
      min-height: 75px

.sub-title__btn
  z-index: 999
  width: 225px
  height: 50px
  display: block
  margin: 15px auto
  line-height: 45px
  border-radius: 50px
  outline: none
  font-family: gothamPB
  font-size: 17px
  background: #9ecb32
  color: #fff
  -webkit-box-shadow: 0px 4px 20px 0px rgba(50, 50, 50, 0.5)
  -moz-box-shadow:    0px 4px 20px 0px rgba(50, 50, 50, 0.5)
  box-shadow:         0px 4px 20px 0px rgba(50, 50, 50, 0.5)

  &:focus
    outline: none

.slick-slide:focus
  outline: none

.slider .slick-dots li.slick-active button:before
  color: #9ecb32

.slider .slick-dots li button
  width: 30px
  height: 30px

.slider .slick-dots li button:before
  content: ''
  width: 16px
  height: 16px
  border-radius: 50px
  background-color: #9ecb32



