.header-block
  background: url("../../images/header-bg.png") no-repeat
  min-height: 768px

  +media-1024
    min-height: auto

.header-content
  display: flex
  padding-left: 20px

  +media-1024
    padding-bottom: 150px


.left-content__title
  font-family: NexaL
  color: #ffffff
  font-size: 40px
  margin-bottom: 0

  +media-1582
    font-size: 36px

  +media-1400
    font-size: 32px

  +media-1280
    font-size: 30px

.left-content__title__second
  font-family: NexaB
  color: #101033
  font-size: 48px
  margin-top: 0

  +media-1582
    font-size: 44px

  +media-1400
    font-size: 40px

  +media-1280
    font-size: 38px

.left-content__title__third
  font-family: NexaL
  font-size: 28px
  color: #fff

  +media-1582
    font-size: 24px

  +media-1280
    font-size: 22px

.text__indigo
  font-family: NexaB
  font-size: 30px
  color: #fff

  +media-1582
    font-size: 26px

  +media-1280
    font-size: 22px

.left-content__text
  padding-top: 10px
  font-family: PTS-r
  font-size: 22px
  color: #fff

  +media-1582
    font-size: 20px

  +media-1280
    font-size: 18px

  +media-1024
    font-size: 16px

.right-content
  position: relative
  width: 300px
  height: auto

  +media-1280
    margin-left: 50px

  +media-1100
    margin-left: 0px

.sircle
  position: absolute
  width: 171px
  height: 171px
  border-radius: 50%
  background: #fff
  display: flex
  flex-direction: column
  justify-content: center

  &-first
    left: 55%
    top: 15%

  &-second
    top: 40%
    left: 5%

  &-third
    top: 65%
    left: 55%

  &__item
    margin: 0 auto
    font-family: NexaB
    font-size: 16px
    text-transform: uppercase
    text-align: center
    color: #ababab

  &:before
    content: ''
    display: inline-block
    width: 93px
    height: 56px
    background: url("../../images/rectangl.png")
    position: absolute
    //font-family: NexaB
    //font-size: 24px
    //text-transform: uppercase
    //color: #101033

  &:after
    content: ''
    display: inline-block
    position: absolute
    font-family: NexaB
    font-size: 24px
    text-transform: uppercase
    color: #101033



.sircle-first:before
  right: 75%
  top: 13%

.sircle-first:after
  content: 'img2'
  margin-top: -75px
  margin-left: -50px

.sircle-second:before
  right: 65%
  top: -10%

.sircle-second:after
  content: 'img1'
  margin-top: -115px
  margin-left: -35px

.sircle-third:before
  right: 55%
  top: -5%

.sircle-third:after
  content: 'img3'
  margin-top: -105px
  margin-left: -15px






  

