.header-block
  background: url("../../images/header-bg.png") no-repeat
  min-height: 768px
  background-size: cover


  +media-1024
    min-height: auto

  +media-992
    background-size: cover
    justify-content: center

.header-content
  display: flex
  padding-left: 20px

  +media-1024
    padding-bottom: 150px

  +media-992
    flex-direction: column
    padding-bottom: 70px


.left-content
  +media-992
    margin: 0 auto

  +media-992
    text-align: center
    padding-bottom: 50px
    
  +media-356
    text-align: left

.left-content__title
  font-family: NexaL
  color: #ffffff
  font-size: 40px
  margin-bottom: 0

  +media-1582
    font-size: 36px

  +media-1400
    font-size: 32px

  +media-1280
    font-size: 30px

  +media-992
    font-size: 5vw

  +media-576
    font-size: 6vw

  +media-420
    font-size: 7vw

.left-content__title__second
  font-family: NexaB
  color: #101033
  font-size: 48px
  margin-top: 0

  +media-1582
    font-size: 44px

  +media-1400
    font-size: 40px

  +media-1280
    font-size: 38px

  +media-992
    font-size: 5vw
  +media-576
    font-size: 6vw

  +media-420
    font-size: 7vw

.left-content__title__third
  font-family: NexaL
  font-size: 28px
  color: #fff

  +media-1582
    font-size: 24px

  +media-1280
    font-size: 22px

  +media-992
    font-size: 2.5vw

  +media-576
    font-size: 3.5vw

  +media-420
    text-align: left
    font-size: 4vw

.text__indigo
  font-family: NexaB
  font-size: 30px
  color: #fff

  +media-1582
    font-size: 26px

  +media-1280
    font-size: 22px

  +media-992
    font-size: 3vw

  +media-576
    font-size: 4vw

  +media-420
    font-size: 4.5vw

.left-content__text
  padding-top: 10px
  font-family: PTS-r
  font-size: 22px
  color: #fff

  +media-1582
    font-size: 20px

  +media-1440
    font-size: 19px

  +media-1315
    font-size: 18px

  +media-1280
    font-size: 18px

  //+media-1170
    font-size: 17px

  +media-1024
    font-size: 16px

  +media-992
    font-size: 2vw

  +media-576
    font-size: 2.4vw

  +media-420
    text-align: left
    font-size: 4vw

.right-content
  position: relative
  width: 300px
  height: auto

  +media-1280
    margin-left: 50px

  +media-1211
    margin-left: 0

  //+media-1100
    margin-left: 0px

  +media-992
    margin: 0 auto

.sircle
  position: absolute
  width: 171px
  height: 171px
  border-radius: 50%
  background: #fff
  display: flex
  flex-direction: column
  justify-content: center
  z-index: 2

  +media-992
    position: relative

  &-first
    left: 55%
    top: 15%

    +media-380
      left: 35%

  &-second
    top: 40%
    left: 5%

    +media-380
      left: 8%

  &-third
    top: 64%
    left: 57%

    +media-380
      left: 35%

  &__item
    margin: 0 auto
    font-family: NexaB
    font-size: 16px
    text-transform: uppercase
    text-align: center
    color: #ababab

  &:before
    content: ''
    display: inline-block
    width: 93px
    height: 56px
    background: url("../../images/rectangl.svg")
    position: absolute
    //font-family: NexaB
    //font-size: 24px
    //text-transform: uppercase
    //color: #101033

  //&:after
    content: ''
    display: inline-block
    position: absolute
    font-family: NexaB
    font-size: 24px
    text-transform: uppercase
    color: #101033



.sircle-first:before
  right: 75%
  top: 13%

//.sircle-first:after
  content: 'img2'
  margin-top: -75px
  margin-left: -50px

.sircle-second:before
  right: 65%
  top: -10%
.outs
  position: absolute
  font-family: NexaB
  font-size: 24px
  text-transform: uppercase
  color: #101033

  &__first
    margin-left: -50px
    margin-top: -75px

  &__second
    margin-left: -32px
    margin-top: -115px

  &__third
    margin-left: -15px
    margin-top: -105px

//.sircle-second:after
  content: 'img1'
  margin-top: -115px
  margin-left: -35px

@-moz-document url-prefix()
  .outs__first
    margin-top: -155px
  .outs__second
    margin-top: -235px
  .outs__third
    margin-top: -215px

.sircle-third:before
  right: 55%
  top: -5%

//.sircle-third:after
  content: 'img3'
  margin-top: -105px
  margin-left: -15px

.shadow
  position: relative

.shadow:after
  z-index: 1
  content: ''
  display: block
  position: absolute
  width: 400px
  height: 350px
  background: url("../../images/sh1.png") no-repeat

  +media-1200
    display: none


.shadow-f:after
  //background: url("../../images/sh1.png") no-repeat
  left: 60%
  margin-top: 83px

  +media-1582
    left: 61%

  +media-1345
    left: 62%

  +media-1280
    width: 100%



.shadow-s:after
  left: 11%
  margin-top: 195px

  +media-1582
    left: 11%
    margin-top: 180px

  +media-1345
    left: 13%

  +media-1280
    margin-top: 170px
    width: 100%


.shadow-t:after
  left: 61%
  margin-top: 290px

  +media-1582
    left: 68%

  +media-1345
    margin-top: 272px
    left: 65%
    width: 365px

  +media-1280
    width: 100%
    margin-top: 250px






  

