{% extends "layouts/layout.njk" %}

{% block content %}
<div class="container">
    <!-- EXAMPLE REQUIRE IMG -->
    {#<img src="/assets/images/square.png" alt="">#}
    {#<div style="background-image: url(${require('/assets/images/square3.png')}); height: 100px"></div>#}

    <div class="history">
        <div class="history-create">
            <img class="create__pepper" src="/assets/images/pepper.png">
            <img class="create__basil" src="/assets/images/basil.png">
            <div class="history-content">
                <h2 class="history__title history__title__user history__text_white ">Добавить свою<br>историю</h2>
	            <h2 class="history__title history__title__authorization history__text_white">Авторизируйся</h2>
                <p class="history__text history__text_white">чтобы получить возможность<br> выиграть блюдо из твоих<br>воспоминаний</p>
                <a class="simple__btn history__send history__send_white" href="#">Написать историю</a>
	            <a href="#" class="simple__btn simple__social simple__btn_vk "><img src="/assets/images/vk-white.png" class="history__social vk">Вконтакте</a>
	            <a href="#" class="simple__btn simple__social simple__btn_faceboock "><img src="/assets/images/faceboock-white.png" class="history__social faceboock">Faceboock</a>
                <p class="history__text history__text_white history__text_top">Как мы будем определять<br> победителся конкурса?</p>
                <a class="simple__btn history__chois history__text_white" href="#">Протокол выбора</a>
	            <p class="history__text history__text_white history__confirmations">Авторизовавшись вы даете<br> свое соглашение на <a class="confirmations" href="#">обработку<br> персональных данных</a></p>
            </div>
        </div>
	    <img class="bacon" src="/assets/images/bacon.png">
	    <img class="basilick" src="/assets/images/basil-small.png">


	    <div class="add-history add-history_disable">
		    <h2 class="history__title history__title__add">Ваша история</h2>
		    <p class="history__text__add history__text__add_lg">Расскажи о лучшем блюде в вашей<br>жизни и отправьте историю нам</p>
		    <p class="history__text__add history__text__add_sm">Расскажи о лучшем блюде<br> в вашей жизни и отправьте<br> историю нам</p>

		    <textarea name="text" class="history__add__text" maxlength="1000"
		    ></textarea>
		    {#cols="80" rows="17"#}
		    <span class="text-count"></span>
		    <a href="#" class="simple__btn simple__btn_success">Отправить</a>
	    </div>

    {% set histories = [
        {
            id: "history-1",
            title: "Алиса Краснодарова",
            image: "/assets/images/alisa.png",
            text: 'Маленькая, жареная, хрустящая<br> лепешка из маиса или пшеницы.<br>В такие лепешки заворачивают<br><span class="full__fid">разную начинку: бобы,<br> гуакамоле... (пюре из авокадо и<br> томатов со специями</span>'
        },{
            id: "history-2",
            title: "Кристина Кац",
            image: "/assets/images/kristina.png",
            text: 'Если обычный кебаб состоит из<br> мяса и картофеля фри, то<br> марокканское блюдо нечто иное.<br><span class="full__fid"> Шиш кебаб традиционно готовят...<br> из мяса ягненка, но также<br> используют говядину, курятин</span>'
        },{
            id: "history-3",
            title: "Ева Алимова",
            image: "/assets/images/eva.png",
            text: 'Если обычный кебаб состоит из<br> мяса и картофеля фри, то<br> марокканское блюдо нечто иное.<br><span class="full__fid"> Шиш кебаб традиционно готовят...<br> из мяса ягненка, но также<br> используют говядину, курятин</span>'
        },{
            id: "history-4",
            title: "Анна Кирилова",
            image: "/assets/images/anna.png",
            text: 'Это блюдо из мяса и овощей на<br> гриле, которое готовят прямо на<br> глазах. Его могут ещё подавать в<br><span class="full__fid">пите круглой или овальной форм...<br> Это самое вкусное сочетание,<br> особенно, для проголодавшегося<br> туриста, путешествующего по Греции</span>'
        },{
            id: "history-5",
            title: "Олег Бондаренко",
            image: "/assets/images/oleg.png",
            text: 'Поговорим о бел пури, вкусном<br> индийском блюде из воздушного риса,<br> жареной вермишели, овощей и соусом <span class="full__fid">из острого тамаринда... Лучше всего <br>попробовать блюдо в Мумбаи.</span>'
        },{
            id: "history-6",
            title: "Наташа Кирова",
            image: "/assets/images/natasha.png",
            text: 'Поговорим о бел пури, вкусном<br> индийском блюде из воздушного риса,<br> жареной вермишели, овощей и соусом <span class="full__fid">из острого тамаринда... Лучше всего <br>попробовать блюдо в Мумбаи.</span>'
        }
    ] %}
        {% set historiesSlides = [
			{
				left: [
					{
						id: "history-1",
						title: "Алиса Краснодарова",
						image: "/assets/images/alisa.png",
						text: 'Маленькая, жареная, хрустящая<br> лепешка из маиса или пшеницы.<br>В такие лепешки заворачивают<br><span class="full__fid">разную начинку: бобы,<br> гуакамоле... (пюре из авокадо и<br> томатов со специями</span>'
					},{
						id: "history-2",
						title: "Кристина Кац",
						image: "/assets/images/kristina.png",
						text: 'Если обычный кебаб состоит из<br> мяса и картофеля фри, то<br> марокканское блюдо нечто иное.<br><span class="full__fid"> Шиш кебаб традиционно готовят...<br> из мяса ягненка, но также<br> используют говядину, курятин</span>'
					},{
						id: "history-3",
						title: "Ева Алимова",
						image: "/assets/images/eva.png",
						text: 'Если обычный кебаб состоит из<br> мяса и картофеля фри, то<br> марокканское блюдо нечто иное.<br><span class="full__fid"> Шиш кебаб традиционно готовят...<br> из мяса ягненка, но также<br> используют говядину, курятин</span>'
					}
				],
				right: [
					{
						id: "history-4",
						title: "Анна Кирилова",
						image: "/assets/images/anna.png",
						text: 'Это блюдо из мяса и овощей на<br> гриле, которое готовят прямо на<br> глазах. Его могут ещё подавать в<br><span class="full__fid">пите круглой или овальной форм...<br> Это самое вкусное сочетание,<br> особенно, для проголодавшегося<br> туриста, путешествующего по Греции</span>'
					},{
						id: "history-5",
						title: "Олег Бондаренко",
						image: "/assets/images/oleg.png",
						text: 'Поговорим о бел пури, вкусном<br> индийском блюде из воздушного риса,<br> жареной вермишели, овощей и соусом <span class="full__fid">из острого тамаринда... Лучше всего <br>попробовать блюдо в Мумбаи.</span>'
					},{
						id: "history-6",
						title: "Наташа Кирова",
						image: "/assets/images/natasha.png",
						text: 'Поговорим о бел пури, вкусном<br> индийском блюде из воздушного риса,<br> жареной вермишели, овощей и соусом <span class="full__fid">из острого тамаринда... Лучше всего <br>попробовать блюдо в Мумбаи.</span>'
					}
				]
			},{
				left: [
					{
						id: "history-1",
						title: "Алиса Краснодарова",
						image: "/assets/images/alisa.png",
						text: 'Маленькая, жареная, хрустящая<br> лепешка из маиса или пшеницы.<br>В такие лепешки заворачивают<br><span class="full__fid">разную начинку: бобы,<br> гуакамоле... (пюре из авокадо и<br> томатов со специями</span>'
					},{
						id: "history-2",
						title: "Кристина Кац",
						image: "/assets/images/kristina.png",
						text: 'Если обычный кебаб состоит из<br> мяса и картофеля фри, то<br> марокканское блюдо нечто иное.<br><span class="full__fid"> Шиш кебаб традиционно готовят...<br> из мяса ягненка, но также<br> используют говядину, курятин</span>'
					},{
						id: "history-3",
						title: "Ева Алимова",
						image: "/assets/images/eva.png",
						text: 'Если обычный кебаб состоит из<br> мяса и картофеля фри, то<br> марокканское блюдо нечто иное.<br><span class="full__fid"> Шиш кебаб традиционно готовят...<br> из мяса ягненка, но также<br> используют говядину, курятин</span>'
					}
				],
				right: [
					{
						id: "history-4",
						title: "Анна Кирилова",
						image: "/assets/images/anna.png",
						text: 'Это блюдо из мяса и овощей на<br> гриле, которое готовят прямо на<br> глазах. Его могут ещё подавать в<br><span class="full__fid">пите круглой или овальной форм...<br> Это самое вкусное сочетание,<br> особенно, для проголодавшегося<br> туриста, путешествующего по Греции</span>'
					},{
						id: "history-5",
						title: "Олег Бондаренко",
						image: "/assets/images/oleg.png",
						text: 'Поговорим о бел пури, вкусном<br> индийском блюде из воздушного риса,<br> жареной вермишели, овощей и соусом <span class="full__fid">из острого тамаринда... Лучше всего <br>попробовать блюдо в Мумбаи.</span>'
					},{
						id: "history-6",
						title: "Наташа Кирова",
						image: "/assets/images/natasha.png",
						text: 'Поговорим о бел пури, вкусном<br> индийском блюде из воздушного риса,<br> жареной вермишели, овощей и соусом <span class="full__fid">из острого тамаринда... Лучше всего <br>попробовать блюдо в Мумбаи.</span>'
					}
				]
			},{
				left: [
					{
						id: "history-1",
						title: "Алиса Краснодарова",
						image: "/assets/images/alisa.png",
						text: 'Маленькая, жареная, хрустящая<br> лепешка из маиса или пшеницы.<br>В такие лепешки заворачивают<br><span class="full__fid">разную начинку: бобы,<br> гуакамоле... (пюре из авокадо и<br> томатов со специями</span>'
					},{
						id: "history-2",
						title: "Кристина Кац",
						image: "/assets/images/kristina.png",
						text: 'Если обычный кебаб состоит из<br> мяса и картофеля фри, то<br> марокканское блюдо нечто иное.<br><span class="full__fid"> Шиш кебаб традиционно готовят...<br> из мяса ягненка, но также<br> используют говядину, курятин</span>'
					},{
						id: "history-3",
						title: "Ева Алимова",
						image: "/assets/images/eva.png",
						text: 'Если обычный кебаб состоит из<br> мяса и картофеля фри, то<br> марокканское блюдо нечто иное.<br><span class="full__fid"> Шиш кебаб традиционно готовят...<br> из мяса ягненка, но также<br> используют говядину, курятин</span>'
					}
				],
				right: [
					{
						id: "history-4",
						title: "Анна Кирилова",
						image: "/assets/images/anna.png",
						text: 'Это блюдо из мяса и овощей на<br> гриле, которое готовят прямо на<br> глазах. Его могут ещё подавать в<br><span class="full__fid">пите круглой или овальной форм...<br> Это самое вкусное сочетание,<br> особенно, для проголодавшегося<br> туриста, путешествующего по Греции</span>'
					},{
						id: "history-5",
						title: "Олег Бондаренко",
						image: "/assets/images/oleg.png",
						text: 'Поговорим о бел пури, вкусном<br> индийском блюде из воздушного риса,<br> жареной вермишели, овощей и соусом <span class="full__fid">из острого тамаринда... Лучше всего <br>попробовать блюдо в Мумбаи.</span>'
					},{
						id: "history-6",
						title: "Наташа Кирова",
						image: "/assets/images/natasha.png",
						text: 'Поговорим о бел пури, вкусном<br> индийском блюде из воздушного риса,<br> жареной вермишели, овощей и соусом <span class="full__fid">из острого тамаринда... Лучше всего <br>попробовать блюдо в Мумбаи.</span>'
					}
				]
			}
        ] %}

        <div class="history-last js-history-last">
            <h2 data-aos="fade-right" class="history-last__titile js-history-title-all" >Последние Истории</h2>
	        {#data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="600"#}
            <h2 class="history-last__titile js-history-title" style="display: none">История</h2>
            {% for history in histories %}
				<div id="{{ history.id }}" class="full-history full-history_disable ">
					<div class="full-history-content">
						<img class="history__logo js__logo logo-first" src="{{ history.image }}">
						<h5 id="logo-title" class="logo-title full__title">{{ history.title }}</h5>
						<a href="#" class="whatch__full js-history-back"><img class="arrow__back" src="/assets/images/left-arrow-green.png" alt="">Вернуться ко всем историям</a>
					</div>
					<div class="history-feed full-feed">
						<p id="feed" class="feed">{{ history.text|safe }}</p>
					</div>
				</div>
            {% endfor %}
	        <div class="history-last-slider slider">
    			{% for historySlide in historiesSlides %}
					<div class="history-slider slick-slide ">
						<div class="history-people">
							<div class="history-left">
                                {% for history in historySlide.left %}
									<div class="history-one">
										<img class="history__logo logo-four" src="{{ history.image }}" alt="{{ history.title }}">
										<div class="history-feed">
											<h5 class="logo-title">{{ history.title }}</h5>
											<p class="feed">{{ history.text|safe }}</p>
											<a href="#{{ history.id }}" class="whatch__full js-show-history">Читать полностью</a>
										</div>
									</div>
                                {% endfor %}
							</div>
							<div class="history-right">
                    			{% for history in historySlide.right %}
									<div class="history-one">
										<img class="history__logo logo-four" src="{{ history.image }}" alt="{{ history.title }}">
										<div class="history-feed">
											<h5 class="logo-title">{{ history.title }}</h5>
											<p class="feed">{{ history.text|safe }}</p>
											<a href="#{{ history.id }}" class="whatch__full js-show-history">Читать полностью</a>
										</div>
									</div>
                                {% endfor %}
							</div>
						</div>
					</div>
                {% endfor %}
            </div>
	        <a href="#" class="simple__btn history__more history__more_success">Больше историй</a>
        </div>
    </div>
</div>

<div id="victory" class="container-fluid victory">
	{#absolut basil#}
	<img class="basil basil__main__one" src="/assets/images/bsil-last-main_first.png">
	<img class="basil basil__main__second" src="/assets/images/basil-last-main_second.png">
	<img class="basil basil__main__third" src="/assets/images/basil-last-main_third.png">
	{##}
    <div class="container">
        <div class="victory-concurs">

            <span data-aos="fade-right" class="victory__title">Победитель конкурса</span>
            <span class="victory__text">Будет объявлен 20 ноября 2017 года</span>

            <span class="victory__last__day">До  конца  конкурса  осталось:</span>
		    {#js counter#}
            <h1 class="logo__count">

	            <div class="counter hours">
		            <span class="decor top_h"></span>
		            <span class="decor bottom_h"></span>
		            <span class="from_h top_h"><span></span><span class="shadow_h"></span></span>
		            <span class="from_h bottom_h"><span></span><span class="shadow_h"></span></span>
		            <span class="to_h top_h"><span></span><span class="shadow_h"></span></span>
		            <span class="to_h bottom_h"><span></span><span class="shadow_h"></span></span>
	            </div>
	            <div class="counter minutes">
		            <span class="decor top_m"></span>
		            <span class="decor bottom_m"></span>
		            <span class="from_m top_m"><span></span><span class="shadow_m"></span></span>
		            <span class="from_m bottom_m"><span></span><span class="shadow_m"></span></span>
		            <span class="to_m top_m"><span></span><span class="shadow_m"></span></span>
		            <span class="to_m bottom_m"><span></span><span class="shadow_m"></span></span>
	            </div>
	            <div class="counter seconds">
		            <span class="decor top"></span>
		            <span class="decor bottom"></span>
		            <span class="from top"><span></span><span class="shadow"></span></span>
		            <span class="from bottom"><span></span><span class="shadow"></span></span>
		            <span class="to top"><span></span><span class="shadow"></span></span>
		            <span class="to bottom"><span></span><span class="shadow"></span></span>
	            </div>
            </h1>
	        <div class="info-count">
		        <span class="info-count__item">Дней</span>
		        <span class="info-count__item">Часов</span>
		        <span class="info-count__item">Минут</span>
	        </div>

            {##}
            <div class="social">
                <span class="social__news">Следите за новостями:</span>
                <div class="social-logo">
                    <div class="social-logo__item"><a class="social-logo__link" href=""><img class="social__img" src="/assets/images/vk-sm.png" alt="vkontakte"></a></div>
                    <div class="social-logo__item"><a class="social-logo__link" href=""><img class="social__img" src="/assets/images/facebook-sm.png" alt="facebook"></a></div>
                    <div class="social-logo__item"><a class="social-logo__link" href=""><img class="social__img" src="/assets/images/instagram-sm.png" alt="instagram"></a></div>
	                <img class="small-dotted" src="/assets/images/small-dotted.png" alt="dotted-line">
                </div>
            </div>
        </div>
    </div>
	<div class="rolling__line"></div>
</div>
{% endblock %}