.victory-chois
  position: relative
  display: none
  //text-align: center
  width: 830px
  text-align: center
  padding-top: 125px
  padding-left: 0px

  &__picture
    display: flex
    padding-top: 25px

  &__dotted
    position: absolute
    height: 75px
    margin-top: 50px
    

    &_left
      left: 10%
      //float: left
      width: 25%
      background: url("../../images/dottet-victory-chois_right.png") no-repeat


    &_right
      right: 5%
      //float: left
      width: 30%
      background: url("../../images/dottet-victory-chois_left.png") no-repeat
      background-position-x: -150px

.victory__title_left
  padding-left: 0
  //padding-right: 120px

.victory-chois-logo
  display: flex
  justify-content: center
  width: 30%
  margin: 0 auto
  //float: left

  &__item
    height: 165px

  &__pepper
    &_left
      background: url("../../images/logo-pepper_left.png") no-repeat
      background-position-y: -210px
      background-position-x: -60px
      width: 20%
      margin-right: -15px

    &_right
      background: url("../../images/logo-pepper_right.png") no-repeat
      background-position-y: -110px
      background-position-x: -175px
      width: 27%
      height: 185px
      margin-left: -25px
      margin-top: -13px
      
.chois-title
  padding-top: 15px

  &__text
    font-size: 20px
    font-family: gothamPBo